<div class="top-section" aria-label="Picture of a Concert Hall"></div>

<div class="all-projects">
	<div class="container">
		<div class="row">
			<div class="col-md-4 search">
				<div class="form-container">
					<input ng-model="projectSearch" class="form-control" placeholder="Search Projects">
					<p>You can search any text, including languages used.</p>
				</div>
			</div>

			<div class="col-md-8 projects">
				<div class="project-description" ng-repeat="project in projects | filter:projectSearch " role="presentation">
					<div class="container" role="presentation">
				    	<div class="row detail-row" role="presentation">
				    		<div class="col-sm-8 long-text" role="presentation">
				    			<h2> {{ project.title }} </h2>
				    			<p ng-bind-html="project.description"></p>
				    			[<a href="{{ project.source }}">Source Code</a>]
				        	</div>
				        	<div class="col-sm-4 project-details" role="presentation">
					          	<span>Implemented using:</span>
					        	<ul>
					            	<li ng-repeat="icon in project.icons" role="presentation">
					            		<i class="{{ icon }}"></i>
					            	</li>
					          	</ul>
					          	<div class="row detail-row" role="presentation">
						    			</div>
					        	<a target="_self" href="{{ project.button.href }}" class="{{ project.button.classes }}">{{ project.button.text }}</a>
				        	</div>
				    	</div>
				    	<div class="row detail-row" role="presentation">
				    	</div>
				    	<div class="row detail-row" role="presentation">
				    		<div class="col-sm-12 project-footer" role="presentation">
				    			{{ project.footer }}
				        </div>
				      </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Structured Data -->
<script type="application/ld+json">
	{
		"@context": "http://schema.org",
	    "@type": "WebPage",
	    "url": "https://www.cornopaez.com/projects",
	    "about": [
	    	{
	        	"@type": "Website",
	            "name": "Portfolio",
	            "description": "This website is the first project I've taken on, at least on the Web Development front. It is designed with simplicity in mind following most of the concepts I have learned on Codecademy's HTML, CSS, SASS, and AngularJS tracks.",
	            "url": "https://www.cornopaez.com",
	            "author": {
	                "@type": "person",
	                "name": "Mauricio Páez",
	                "sameAs": "https://www.cornopaez.com/about"
	            }
	        },
	        {
	        	"@type": "Website",
	            "name": "PYTDance",
	            "description": "This is a capstone project for Codecademy's Ready \"Freelance Web Developer\" program. It is built according to the specs provided by the course found here. It is mostly built on Flexbox, though some of the styles (though, not layouts) from Bootstrap have been inherited and expanded upon. This site is fully responsive, and works well in tablets and mobile phones.",
	            "url": "https://www.cornopaez.com/pages/pytdance/index.html",
	            "author": {
	                "@type": "person",
	                "name": "Mauricio Páez",
	                "sameAs": "https://www.cornopaez.com/about"
	            }
	        },
	        {
	        	"@type": "Webpage",
	            "name": "Adventure Game",
	            "description": "This game is in the vein of vintage 1980's text-based adventures. This one in particular is an adaptation of Edgar Allan Poe's \"Murders in the Rue Morgue.\"",
	            "url": "https://www.cornopaez.com/pages/adventure-game.html",
	            "author": [
	              {
	                  "@type": "person",
	                  "name": "Mauricio Páez",
	              	  "sameAs": "https://www.cornopaez.com/about"
	              },
	              {
	              	"@type": "person",
	              	"name": "Elizabeth Páez"
	              },
	              {
	              	"@type": "person",
	              	"name": "Edgar Allan Poe",
	                "sameAs": "https://en.wikipedia.org/wiki/Edgar_Allan_Poe"
	              }
	            ]
	        },
	        {
	        	"@type": "Website",
	            "name": "Banking Application",
	            "description": "A simple banking application. Please bank with us- No fees, no nonsense. All your moneis are belong to us! Coming soon.",
	            "author": {
	                "@type": "person",
	                "name": "Mauricio Páez",
	                "sameAs": "https://www.cornopaez.com/about"
	            }
	        }
	    ],
	    "author": {
	    	"@type": "person",
	        "name": "Mauricio Páez",
	        "sameAs": "https://www.cornopaez.com/about",
	        "sameAs": "https://twitter.com/cornopaez",
	        "sameAs": "https://www.github.com/cornopaez",
	        "sameAs": "https://www.codecademy.com/cornopaez",
	        "sameAs": "https://www.codewars.com/users/cornopaez",
	        "sameAs": "https://angel.co/jose-mauricio-paez",
	        "sameAs": "https://www.linkedin.com/in/cornopaez"
	    }
	}
</script>