// Jumbotron on landing page
.jumbotron {
	@extend %position-relative;
	background: url($jumbotron-background) no-repeat center;
	background-size: cover;
	margin-bottom: 0;
	padding: 0;
	// z-index: 1;

	@media screen and (min-width: 320px) {
		height: 250px;
	}

	@media screen and (min-width: 768px) {
		height: 500px;
	}

	//Text for Jumbotron
	h1 {
		@extend %position-absolute;
		@extend %center-of-container;
		margin: 0;
		@include font-properties("Raleway", 63px, 500);
		color:$color-white;

		@media screen and (min-width: 320px) {
			@include font-properties("Raleway", 36px, 500);
		}

		@media screen and (min-width: 768px) {
			@include font-properties("Raleway", 63px, 500);
		}
	}

}

// Support sections on the landing page
.support-1 {

	// white-space: pre-line;
	
	.row {
		@media screen and (min-width: 320px) {
			padding: 0 25px;
		}

		@media screen and (min-width: 768px) {
			padding: 0 50px;
		}

		.col-md-12 {
			@media screen and (min-width: 320px) {
				padding: 25px 0;
			}

			@media screen and (min-width: 768px) {
				padding: 50px;
			}

			> p {
				@media screen and (min-width: 768px) {
					@include font-properties("Raleway", 20px, 400);
				}
			}
		}

		.col-md-4 {
			border-top: 1px solid $color-light-gray-2;
			@media screen and (min-width: 320px) {
				padding: 25px;
			}

			@media screen and (min-width: 768px) {
				padding: 50px;
			}

			> h2 {
				@include font-properties("Raleway", 30px, 400);
				letter-spacing: 0.3px;
				padding: 0 0 5px 0;
				margin: 0;
			}

			> p {
				padding: 5px 0 0 0;
			}
		} 
	}
}

// Links to other pages
.support-2 {
	background-color: $color-main-blue;
	padding: 20px 0;

	.container {
		.row {
			.col-md-6 {
				text-align: center;
				padding: 20px 0;

				> a {
					&.btn {
						@include font-properties("Raleway", 14px, 200);
						background: transparent;
						padding:10px 50px;
						border-radius: 0;
						border: 1px solid $color-white;
						color: $color-white;

						&:hover {
							background: $color-main-light-blue;
						}
					}
				}
			}
		}
	}
}