<div class="about-content">
	<div class="container">
		<div class="row top_image">
			<img ng-src="../img/close-up.png" title="Caricature of the developer" />
		</div>
		<div class="row background about-details" id="background">
			<div class="col-md-4 section-title">
				<h2>{{ aboutText.background[0].title }}</h2>
			</div>
			<div class="col-md-8 section-content">
				<p>{{ aboutText.background[0].text }}</p>
			</div>
		</div>
		<div class="row languages about-details" id="languages">
			<div class="col-md-4 section-title">
				<h2>{{ aboutText.languages[0].title }}</h2>
			</div>
			<div class="col-md-8 section-content">
				<span class="lang-icon" ng-repeat="icon in aboutText.languages[0].icons">
					<i class="{{ icon }}"></i>
				</span>
			</div>
		</div>
		<div class="row work-experience about-details" id="work-experience">
			<div class="col-md-4 section-title">
				<h2>{{ aboutText.experience[0].title }}</h2>
			</div>
			<div class="col-md-8 section-content">
				<div ng-repeat="entity in aboutText.experience[0].entities">
					<div class="content-subtitle">{{ entity.title }}</div>
					<ul>
						<li ng-repeat="point in entity.points" ng-bind-html="point"></li>
					</ul>
					<br>
				</div>
			</div>
		</div>
		<div class="row education about-details" id="education">
			<div class="col-md-4 section-title">
				<h2>{{ aboutText.education[0].title }}</h2>
			</div>
			<div class="col-md-8 section-content">
				<div ng-repeat="entity in aboutText.education[0].entities">
					<div class="content-subtitle">{{ entity.title }}</div>
					<ul>
						<li ng-repeat="point in entity.points" ng-bind-html="point"></li>
					</ul>
					<br>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Structured Data -->
<script type="application/ld+json" src="js/portfolio/data/about-structured-data.js"></script>