<div class="jumbotron" aria-label="Picture of Pittsburgh from Mount Washington.">
	<h1>{{ homeText.jumbotron }}</h1>
</div>
<div class="support-1" role="presentation">
	<div class="container" role="presentation">
		<div class="row" role="presentation">
			<div class="col-md-12" role="presentation">
				<p>{{ homeText.support.paragraph }}</p>
			</div>
		</div>
		<div class="row" role="presentation">
			<div class="col-md-4" ng-repeat="point in homeText.support.points" role="presentation">
				<h2>{{ point.title }}</h2>
				<p>{{ point.text }}</p>
			</div>
		</div>

	</div>
</div>
<div class="support-2" role="presentation">
	<div class="container" role="presentation">
		<div class="row" role="presentation">
			<div class="col-md-6" role="presentation">
				<a href="#/Projects" class="btn">See some of my projects</a>
			</div>
			<div class="col-md-6" role="presentation">
				<a href="#/About" class="btn">Learn more about me</a>
			</div>
		</div>
	</div>
</div>