<div class="error">
	<div class="container">
		<div class="col-sm-6 error-icon">
			<span class="glyphicon glyphicon-off"></span>
		</div>
		<div class="col-sm-6 error-text">
			<h1>I must Apologize....</h1>
			<p>I am doing some maintenance on the Heroku-deployed site and some features may be unavailable. In the meantime, you may checkout <a href="http://cornopaez.com">the static version of this site</a>. Otherwise, may I suggest some <a href="https://xkcd.com/">light reading?</a></p>
		</div>
	</div>
</div>