<div class="all-projects">
	<div class="project-description" ng-repeat="project in projects">
		<div class="container">
	    	<div class="row detail-row">
	    		<div class="col-sm-8 long-text">
	    			<h2> {{ project.title }} </h2>
	    			<p>{{ project.description }}</p>
	        	</div>
	        	<div class="col-sm-4 project-details">
		          	<span>Implemented using:</span>
		        	<ul>
		            	<li ng-repeat="icon in project.icons">
		            		<i class="{{ icon }}"></i>
		            	</li>
		          	</ul>
		          	<div class="row detail-row">
			    			</div>
		        	<a href="{{ project.button.href }}" class="{{ project.button.classes }}">{{ project.button.text }}</a>
	        	</div>
	    	</div>
	    	<div class="row detail-row">
	    	</div>
	    	<div class="row detail-row">
	    		<div class="col-sm-12 project-footer">
	    			{{ project.footer }}
	        </div>
	      </div>
		</div>
	</div>
</div>