//Colors
$color-hover-diff: #292322;
$header-dark-brown: #352c2b;
$header-lighter-brown: $header-dark-brown + $color-hover-diff;
$footer-orange: #cd5510;
$footer-light-orange: $footer-orange + $color-hover-diff;
$color-burnt-orange: #cd5510;
$color-light-gray-1: #999;
$color-light-gray-2: #D6D6D6;
$color-white: #fff;
$color-black: #000;
$color-main-blue: #3c555c;
$color-main-light-blue: $color-main-blue + $color-hover-diff;

//Fonts
$open-sans-default: "Open Sans", sans-serif;

//Images
$jumbotron-background: "../img/IMG_1720.png";
$projects-top-section: "../img/yu6a5i_ijtw-radek-grzybowski.png";