<!DOCTYPE html>
<html>
<head>
	<meta name=viewport content="width=device-width, initial-scale=1" charset="utf-8">
	<link href="https://use.fontawesome.com/d326b1c71e.css" media="all" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
	<link rel="stylesheet" type="text/css" href="../sass/main.css">
	<link rel="icon" type="image/png" href="../img/favicon.ico" sizes="32x32" />
	<title>Mauricio_Páez | Projects</title>
</head>
<body ng-app="projects">
	<nav class="navbar navbar-default header">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed toggle-button-right" data-toggle="collapse" data-target="#right-pills" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar icon-line"></span>
					<span class="icon-bar icon-line"></span>
					<span class="icon-bar icon-line"></span>
				</button>
				<a class="navbar-brand" href="../index.html">Mauricio_Páez</a>
			</div>
			<div class="collapse navbar-collapse link-container" id="right-pills">
				<ul class="nav navbar-nav main-links">
					<li class="list-item">
						<a href="#">Projects</a>
					</li>
					<li class="list-item">
						<a href="about.html">About</a>
					</li>
				</ul>
			</div> <!-- /.navbar-collapse -->
		</div> <!-- /.container fluid -->
	</nav>
	
	<div class="top-section">
		
	</div>
	
	<div class="all-projects" ng-controller="MainController">
		<div class="project-description" ng-repeat="project in projects">
			<div class="container">
		    	<div class="row detail-row">
		    		<div class="col-sm-8 long-text">
		    			<h2> {{ project.title }} </h2>
		    			<p>
		    				{{ project.description }}
		    			</p>
		        	</div>
		        	<div class="col-sm-4 project-details">
			          	<span>Implemented using:</span>
			        	<ul>
			            	<li ng-repeat="icon in project.icons">
			            		<i class="{{ icon }}"></i>
			            	</li>
			          	</ul>
			          	<div class="row detail-row">
				    			</div>
			        	<a href="{{ project.button.href }}" class="{{ project.button.classes }}">{{ project.button.text }}</a>
		        	</div>
		    	</div>
		    	<div class="row detail-row">
		    	</div>
		    	<div class="row detail-row">
		    		<div class="col-sm-12 project-footer">
		    			{{ project.footer }}
		        </div>
		      </div>
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="container">
			<div class="footnotes-for-page-content">
				<ol>
					<li>
						Icons by <a href="http://devicon.fr/">Devicon</a> and <a href="http://fontawesome.io/">Font Awesome</a>.
					</li>
				</ol>
			</div>
		</div>
		<div class="social-media-links">
			<ul class="nav nav-pills nav-stacked">
				<li class="nav-item">
					<a class="nav-link" href="https://twitter.com/cornopaez">Twitter</a>
				</li>
				<li class="nav-item">
					<a href="https://www.github.com/cornopaez">GitHub</a>
				</li>
				<li class="nav-item">
					<a href="https://www.codecademy.com/cornopaez">Codecademy</a>
				</li>
				<li class="nav-item">
					<a href="https://www.codewars.com/users/cornopaez">Codewars</a>
				</li>
			</ul>
		</div>
	</div>

	<!-- Script Import -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- Angular Items -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="../js/projects/app.js"></script>
	<script src="../js/projects/controllers/MainController.js" ></script>
</body>
</html>